<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <form class="" action="/users" method="post">
      <input type="text" name="email" value="" placeholder="example@email.com">
      <input type="password" name="password" value="" placeholder="password">
      <button type="submit">Submit</button>
    </form>

    Your email is <%= @email %>
    Your password is <%= @password %>
  </body>
</html>
